.tarjetaBmx{
    background-image: url("/images/seconBox2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjetaSurf{
    background-image: url("/images/secondBox.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjetaSkate{
    background-image: url("/images/secondBox3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}